ErtmsFormalSpecs/src/EFSDriver/Service References/EFSService/EFSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EFSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5352/EFSService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5352/EFSService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5352/EFSService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" />
      <xsd:import schemaLocation="http://localhost:5352/EFSService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GUI.IPCInterface.Values" />
      <xsd:import schemaLocation="http://localhost:5352/EFSService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEFSService_set_Explain_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Explain" />
  </wsdl:message>
  <wsdl:message name="IEFSService_set_Explain_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_ExplainResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_set_LogEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:set_LogEvents" />
  </wsdl:message>
  <wsdl:message name="IEFSService_set_LogEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_LogEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_set_CycleDuration_InputMessage">
    <wsdl:part name="parameters" element="tns:set_CycleDuration" />
  </wsdl:message>
  <wsdl:message name="IEFSService_set_CycleDuration_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_CycleDurationResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_set_KeepEventCount_InputMessage">
    <wsdl:part name="parameters" element="tns:set_KeepEventCount" />
  </wsdl:message>
  <wsdl:message name="IEFSService_set_KeepEventCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_KeepEventCountResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_GetVariableValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVariableValue" />
  </wsdl:message>
  <wsdl:message name="IEFSService_GetVariableValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVariableValueResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_GetVariableValue_EFSServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" name="detail" element="q1:EFSServiceFault" />
  </wsdl:message>
  <wsdl:message name="IEFSService_SetVariableValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SetVariableValue" />
  </wsdl:message>
  <wsdl:message name="IEFSService_SetVariableValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetVariableValueResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_SetVariableValue_EFSServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" name="detail" element="q2:EFSServiceFault" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Cycle_InputMessage">
    <wsdl:part name="parameters" element="tns:Cycle" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Cycle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CycleResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Cycle_EFSServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" name="detail" element="q3:EFSServiceFault" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Restart_InputMessage">
    <wsdl:part name="parameters" element="tns:Restart" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Restart_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestartResponse" />
  </wsdl:message>
  <wsdl:portType name="IEFSService">
    <wsdl:operation name="set_Explain">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/set_Explain" message="tns:IEFSService_set_Explain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/set_ExplainResponse" message="tns:IEFSService_set_Explain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_LogEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/set_LogEvents" message="tns:IEFSService_set_LogEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/set_LogEventsResponse" message="tns:IEFSService_set_LogEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_CycleDuration">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/set_CycleDuration" message="tns:IEFSService_set_CycleDuration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/set_CycleDurationResponse" message="tns:IEFSService_set_CycleDuration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_KeepEventCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/set_KeepEventCount" message="tns:IEFSService_set_KeepEventCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/set_KeepEventCountResponse" message="tns:IEFSService_set_KeepEventCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVariableValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/GetVariableValue" message="tns:IEFSService_GetVariableValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/GetVariableValueResponse" message="tns:IEFSService_GetVariableValue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEFSService/GetVariableValueEFSServiceFaultFault" name="EFSServiceFaultFault" message="tns:IEFSService_GetVariableValue_EFSServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetVariableValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/SetVariableValue" message="tns:IEFSService_SetVariableValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/SetVariableValueResponse" message="tns:IEFSService_SetVariableValue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEFSService/SetVariableValueEFSServiceFaultFault" name="EFSServiceFaultFault" message="tns:IEFSService_SetVariableValue_EFSServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cycle">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/Cycle" message="tns:IEFSService_Cycle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/CycleResponse" message="tns:IEFSService_Cycle_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEFSService/CycleEFSServiceFaultFault" name="EFSServiceFaultFault" message="tns:IEFSService_Cycle_EFSServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Restart">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/Restart" message="tns:IEFSService_Restart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/RestartResponse" message="tns:IEFSService_Restart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEFSService" type="tns:IEFSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="set_Explain">
      <soap:operation soapAction="http://tempuri.org/IEFSService/set_Explain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_LogEvents">
      <soap:operation soapAction="http://tempuri.org/IEFSService/set_LogEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_CycleDuration">
      <soap:operation soapAction="http://tempuri.org/IEFSService/set_CycleDuration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_KeepEventCount">
      <soap:operation soapAction="http://tempuri.org/IEFSService/set_KeepEventCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariableValue">
      <soap:operation soapAction="http://tempuri.org/IEFSService/GetVariableValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFSServiceFaultFault">
        <soap:fault use="literal" name="EFSServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetVariableValue">
      <soap:operation soapAction="http://tempuri.org/IEFSService/SetVariableValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFSServiceFaultFault">
        <soap:fault use="literal" name="EFSServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Cycle">
      <soap:operation soapAction="http://tempuri.org/IEFSService/Cycle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFSServiceFaultFault">
        <soap:fault use="literal" name="EFSServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Restart">
      <soap:operation soapAction="http://tempuri.org/IEFSService/Restart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EFSService">
    <wsdl:port name="BasicHttpBinding_IEFSService" binding="tns:BasicHttpBinding_IEFSService">
      <soap:address location="http://localhost:5352/EFSService/EFSService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>