ErtmsFormalSpecs/src/EFSDriver/Service References/EFSService/GUI.IPCInterface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EFSServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="InnerReason" nillable="true" type="tns:EFSServiceFault" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EFSServiceFault" nillable="true" type="tns:EFSServiceFault" />
  <xs:simpleType name="Step">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Verification" />
      <xs:enumeration value="UpdateInternal" />
      <xs:enumeration value="Process" />
      <xs:enumeration value="UpdateOutput" />
      <xs:enumeration value="CleanUp" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Step" nillable="true" type="tns:Step" />
</xs:schema>