ErtmsFormalSpecs/src/EFSDriver/Service References/EFSService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5352/EFSService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EFSIPCInterface" />
  <xs:element name="GetVariableValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="variableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EFSIPCInterface" minOccurs="0" name="GetVariableValueResult" nillable="true" type="q1:Value" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVariableValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="variableName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EFSIPCInterface" minOccurs="0" name="value" nillable="true" type="q2:Value" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVariableValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Cycle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EFSIPCInterface" minOccurs="0" name="priority" type="q3:Priority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CycleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>