ErtmsFormalSpecs/src/EFSDriver/Service References/EFSService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5352/EFSService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EFSIPCInterface.Values" />
  <xs:complexType name="ArrayOfKeyValueOfstringValueTJWwzbrB">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringValueTJWwzbrB">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EFSIPCInterface.Values" name="Value" nillable="true" type="q1:Value" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringValueTJWwzbrB" nillable="true" type="tns:ArrayOfKeyValueOfstringValueTJWwzbrB" />
</xs:schema>