ErtmsFormalSpecs/src/EFSDriver/Service References/EFSService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EFSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEFSService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GUI.IPCInterface.Values" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEFSService_ConnectUsingDefaultValues_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectUsingDefaultValues" />
  </wsdl:message>
  <wsdl:message name="IEFSService_ConnectUsingDefaultValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectUsingDefaultValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_ConnectUsingDefaultValues_EFSServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" name="detail" element="q1:EFSServiceFault" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Connect_EFSServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" name="detail" element="q2:EFSServiceFault" />
  </wsdl:message>
  <wsdl:message name="IEFSService_GetVariableValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVariableValue" />
  </wsdl:message>
  <wsdl:message name="IEFSService_GetVariableValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVariableValueResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_GetExpressionValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpressionValue" />
  </wsdl:message>
  <wsdl:message name="IEFSService_GetExpressionValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpressionValueResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_SetVariableValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SetVariableValue" />
  </wsdl:message>
  <wsdl:message name="IEFSService_SetVariableValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetVariableValueResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_SetVariableValue_EFSServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" name="detail" element="q3:EFSServiceFault" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Cycle_InputMessage">
    <wsdl:part name="parameters" element="tns:Cycle" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Cycle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CycleResponse" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Cycle_EFSServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" name="detail" element="q4:EFSServiceFault" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Restart_InputMessage">
    <wsdl:part name="parameters" element="tns:Restart" />
  </wsdl:message>
  <wsdl:message name="IEFSService_Restart_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestartResponse" />
  </wsdl:message>
  <wsdl:portType name="IEFSService">
    <wsdl:operation name="ConnectUsingDefaultValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/ConnectUsingDefaultValues" message="tns:IEFSService_ConnectUsingDefaultValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/ConnectUsingDefaultValuesResponse" message="tns:IEFSService_ConnectUsingDefaultValues_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEFSService/ConnectUsingDefaultValuesEFSServiceFaultFault" name="EFSServiceFaultFault" message="tns:IEFSService_ConnectUsingDefaultValues_EFSServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/Connect" message="tns:IEFSService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/ConnectResponse" message="tns:IEFSService_Connect_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEFSService/ConnectEFSServiceFaultFault" name="EFSServiceFaultFault" message="tns:IEFSService_Connect_EFSServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVariableValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/GetVariableValue" message="tns:IEFSService_GetVariableValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/GetVariableValueResponse" message="tns:IEFSService_GetVariableValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpressionValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/GetExpressionValue" message="tns:IEFSService_GetExpressionValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/GetExpressionValueResponse" message="tns:IEFSService_GetExpressionValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetVariableValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/SetVariableValue" message="tns:IEFSService_SetVariableValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/SetVariableValueResponse" message="tns:IEFSService_SetVariableValue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEFSService/SetVariableValueEFSServiceFaultFault" name="EFSServiceFaultFault" message="tns:IEFSService_SetVariableValue_EFSServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cycle">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/Cycle" message="tns:IEFSService_Cycle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/CycleResponse" message="tns:IEFSService_Cycle_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEFSService/CycleEFSServiceFaultFault" name="EFSServiceFaultFault" message="tns:IEFSService_Cycle_EFSServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Restart">
      <wsdl:input wsaw:Action="http://tempuri.org/IEFSService/Restart" message="tns:IEFSService_Restart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEFSService/RestartResponse" message="tns:IEFSService_Restart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEFSService" type="tns:IEFSService">
    <wsp:PolicyReference URI="#NetTcpBinding_IEFSService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectUsingDefaultValues">
      <soap12:operation soapAction="http://tempuri.org/IEFSService/ConnectUsingDefaultValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFSServiceFaultFault">
        <soap12:fault use="literal" name="EFSServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IEFSService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFSServiceFaultFault">
        <soap12:fault use="literal" name="EFSServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetVariableValue">
      <soap12:operation soapAction="http://tempuri.org/IEFSService/GetVariableValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpressionValue">
      <soap12:operation soapAction="http://tempuri.org/IEFSService/GetExpressionValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetVariableValue">
      <soap12:operation soapAction="http://tempuri.org/IEFSService/SetVariableValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFSServiceFaultFault">
        <soap12:fault use="literal" name="EFSServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Cycle">
      <soap12:operation soapAction="http://tempuri.org/IEFSService/Cycle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EFSServiceFaultFault">
        <soap12:fault use="literal" name="EFSServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Restart">
      <soap12:operation soapAction="http://tempuri.org/IEFSService/Restart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EFSService">
    <wsdl:port name="NetTcpBinding_IEFSService" binding="tns:NetTcpBinding_IEFSService">
      <soap12:address location="net.tcp://localhost:8001/EFSService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8001/EFSService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Laurent-VAIO\Laurent</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>