ErtmsFormalSpecs/src/EFSDriver/Service References/EFSService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GUI.IPCInterface.Values" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" />
  <xs:element name="ConnectUsingDefaultValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectUsingDefaultValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectUsingDefaultValuesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="explain" type="xs:boolean" />
        <xs:element minOccurs="0" name="logEvents" type="xs:boolean" />
        <xs:element minOccurs="0" name="cycleDuration" type="xs:int" />
        <xs:element minOccurs="0" name="keepEventCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="variableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GUI.IPCInterface.Values" minOccurs="0" name="GetVariableValueResult" nillable="true" type="q1:Value" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressionValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressionValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GUI.IPCInterface.Values" minOccurs="0" name="GetExpressionValueResult" nillable="true" type="q2:Value" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVariableValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="variableName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GUI.IPCInterface.Values" minOccurs="0" name="value" nillable="true" type="q3:Value" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVariableValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Cycle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GUI.IPCInterface" minOccurs="0" name="step" type="q4:Step" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CycleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Restart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>